# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log
debug_output.txt

# Database
notifications.db
